<div class="container">
  <mat-form-field>
    <mat-select placeholder="Diffculty level" [(value)]="currentLevel" (selectionChange)="resetGame();startGame()">
      <mat-option *ngFor="let level of DIFFICULTY_LEVELS" [value]="level">
        {{level}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="resetGame();startGame()">Restart Game</button>
  <div class="board">
    <h1>Timer {{currentTime}}</h1>

    <p>Level {{currentLevel}}</p>
    <p>Score {{currentScore}}</p>
    <p>High Score {{highScore}}</p>
    <div *ngFor="let row of board">
      <button class="cell" (click)="hitCell(cell)" *ngFor="let cell of row" mat-fab [ngClass]="{'current-cell': isCurrentCell(cell)}">{{'X'}}</button>
      <br>
    </div>
  </div>
</div>